@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.leaflet-control button {
  border: 2px solid rgba(56, 166, 56, 0.2) !important;
  border-radius: 4px;
  background-color: white !important;
}

.leaflet-control button:hover {
  background-color: #f3f9f3 !important;
}

.easy-button-icon {
  width: 16px !important;
  height: 16px !important;
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.leaflet-bar button {
  width: 30px !important;
  height: 30px !important;
  position: relative !important;
}

.loading-state {
  color: #458545;
  background-color: #f3f9f3;
}

.leaflet-control-layers {
  border: 2px solid rgba(56, 166, 56, 0.2) !important;
  border-radius: 4px !important;
}

.leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px !important;
  background-color: white !important;
  color: #171717 !important;
}

/* Hide layer control when user is not logged in */
.layers-disabled .leaflet-control-layers {
  display: none !important;
}